.sidebarRow {
  display: flex;
  align-items: center;
  padding: 8px 27px;
  font-family: sans-serif;
}

.sidebarRow_icon {
  color: #606060;
  font-size: x-large !important;
}

.sidebarRow_title {
  flex: 1;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 450;
}

.sidebarRow:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.sidebarRow.selected {
  background-color: #e0e0e0;
}

.sidebarRow.selected > .sidebarRow_icon {
  color: red;
}

.sidebarRow.selected > .sidebarRow_title {
  font-weight: 550;
}
